<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379480304681-fu85u94d52kd75lked7qpum8r8l3o9e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379480304681-fu85u94d52kd75lked7qpum8r8l3o9e0</string>
	<key>API_KEY</key>
	<string>AIzaSyBlwd1j8iwoxVfb4tJpg6Tk8JDwOPWoxfs</string>
	<key>GCM_SENDER_ID</key>
	<string>379480304681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bencefulop.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-60b6d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-60b6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379480304681:ios:da28a551b7ba32b73a0038</string>
</dict>
</plist>